<div class="project-card">
    <div class="vertical-align-center project-card-img-container">
        <center>
            <a href="<%= projectUrl %>">
                <img class="project-img-width" src="<%= imageSrc %>">
            </a>
            <div class="project-img-sec project-img-sec-width">
            <b><%= projectName %></b>
            </div>
        </center>
    </div>
    <div class="vertical-align-center project-card-txt-container">
        <p class="shortInfo"><%= shortInfo %></p>
        <p>
            <a href="<%= source %>">
                <span class="source-link">source</span>
            </a>
            <span class="license">license : <%= license %></span>
        </p>
    </div>
</div>
