<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">

    <title>
        <%= title %>
    </title>
    <script type="application/ld+json">
        <%- ldJson %>
    </script>

    <link rel="stylesheet" href="<%= baseUrl %>./assets/style.css">
    <link rel="shortcut icon" href="<%= baseUrl %>./assets/images/avatar.jpg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="<%= baseUrl %>./assets/js/index.js" type="module"></script>
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:url" content="https://brutt.site">
    <meta property="og:site_name" content="<%= title %>">
    <meta property="og:image" content="<%= shareImage %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:site" content="@bRuttaZz">
    <meta name="twitter:creator" content="@bRuttaZz">
    <meta name="twitter:image" content="<%= shareImage %>">
    <meta name="google-site-verification" content="yy0W_kqfIlLBRYX7Eeqw8CKlFTdJ6Gp-ZlJSmWBMW04" />
    <meta name="google-site-verification" content="OJKRiwUcAniBZKSSyY64QsZPA6mXm99Rx3vc_PrN4gs" />

    <script>
        /**
         * Bind theming switching and ..you knw..!
         */
        (() => {
            const systemMode = window.matchMedia("(prefers-color-scheme: dark)");
            const setSysTheme = () => {
                if (systemMode.matches) {
                    document.documentElement.classList.add("dark")
                    localStorage.setItem("theme-selection", "dark");
                } else {
                    document.documentElement.classList.remove("dark")
                    localStorage.setItem("theme-selection", "light");
                }
            }

            // set sys theme
            const cachedState = localStorage.getItem("theme-selection")
            if (cachedState === "dark")
                document.documentElement.classList.add("dark")
            else if (!cachedState)
                setSysTheme()


            systemMode.addEventListener("change", setSysTheme)

            // add custom button functionality
            window.addEventListener('load', () => {
                document.querySelector(".theme-swticher").classList.remove("d-none");
                document.querySelector(".theme-switcher-btn")?.addEventListener("click", (e) => {
                    if (document.documentElement.classList.contains("dark")) {
                        document.documentElement.classList.remove("dark");
                        localStorage.setItem("theme-selection", "light");
                    } else {
                        document.documentElement.classList.add("dark")
                        localStorage.setItem("theme-selection", "dark");
                    }
                })
            })
        })();
    </script>
</head>

<!-- <noscript>
    <center>
        <div style="color: red;">Pardon! This page require Javascript to render. Kindly use a modern browser :)</div>
    </center>
</noscript> -->
<script>
    window.pageIdentifier = "<%= name %>"
</script>

<body>
    <div class="profile-cover nav-bar d-flex">
        <a href="/">
            <div class="nav-item"> <span
                    class="nav-item-text  <% if (name==='about') { %> selected-nav <% } %>">me</span>
            </div>
        </a>
        <a href="/projects">
            <div class="nav-item  <% if (name==='projects') { %> selected-nav <% } %>"> <span
                    class=" nav-item-text ">myProjects</span></div>
        </a>
        <a href="/blogs">
            <div class="nav-item <% if (name==='blogs') { %> selected-nav <% } %>"> <span class=" nav-item-text">
                    myBlogs</span></div>
        </a>
        <div class="header-btn theme-swticher theme-switcher-btn text-center m-md-4 d-none">
            <span class="mdi mdi-brightness-6 fs-5"></span>
        </div>
    </div>
    <div class="profile-cover">

        <!-- content  -->
        <!-- ...  -->