<div class="project-card">
    <div class="vertical-align-center">
        <center>
            <a href="<%= projectUrl %>">
                <img width="100px" src="<%= imageSrc %>">
            </a>
            <br><b><%= projectName %></b>
        </center>
    </div>
    <div class="vertical-align-center">
        <p class="shortInfo"><%= shortInfo %></p>
        <p>
            <a href="<%= source %>">
                <span class="source-link">source</span>
            </a>
            <span class="license">license : <%= license %></span>
        </p>
    </div>
</div>