<%- include('partials/header.ejs', {
    name: "about",
    title: "Agraj P Das (bRuttaZz)",
    description: "Agraj P Das (@bRUttaZz)! A software enthusiast. Find my projects and connection info over here!", 
    ldJson: `{
        "@context": "https://schema.org",
        "@id": "https://brutt.site",
        "@type": "WebPage",
        "name": "Agraj P Das (bRuttaZz)",
        "url": "https://brutt.site",
        "description": "Agraj P Das (@bRUttaZz)! A software enthusiast. Find my projects and connection info over here!",
        "logo": "https://brutt.site/assets/images/avatar.jpg",
        "sameAs": [
            "https://twitter.com/bruttazz_",
            "https://github.com/bruttazz",
            "https://instagram.com/bruttazz",
            "https://fosstodon.org/@bRUttaZz"
        ]
    }` }); %>

    <!-- about tab  -->

    <h1>Agraj P Das</h1>
    <p class="short-catch">This site is intentionally being simple..</p>
    <div class="container">

        <div class="profile-img">
            <img src="./assets/images/me.jpg" class="realtar">
        </div>

        <div class="bio">
            <%- bioDat %>
                <!-- will be filled with about.me.json content  -->
        </div>

    </div>

    <!-- the contact card  -->
    <div class="profile-about">
        <%- contactPortion %>

    </div>

    <!-- the projects section  -->
    <div class="project-sec">
        <b class="project-sec-heading">
            <span class="mdi mdi-pin"></span>
            some "good looking" projects
        </b>
        <div class="project-cards">
            <%- projectCards %>
                <!-- project cards comes here  -->
        </div>
    </div>

    <!-- the blogs section  -->
    <div class="project-sec">
        <b class="project-sec-heading">
            <span class="mdi mdi-pin"></span>
            some "decent" blogs
        </b>
        <div class="blog-cards">
            <%- blogCards %>
                <!-- blog cards comes here  -->
        </div>
    </div>
    
    <center>
        <a rel="me" href="https://fosstodon.org/@bRuttaZz" style="color: blue;">-</a>
    </center>


<%- include('partials/footer'); %>